<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team name:<%=@teamname%>
     <br />
        Coach:<%=@coach%>
        <br />
        Point Guard:<%=@pointguard%>
        <br />
        Shooting Guard:<%=@shootingguard%>
        <br />
        Small forward:<%=@smallforward%>
        <br />
        Power forward:<%=@powerforward%>
        <br />
        Center:<%=@center%>








   </h1>



 </body>
</html>
